body {
    margin: 0;
    font-family: 'Roboto', serif;
    background-color: #22223f;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (min-width: 822px) {
    .background-pattern {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../assets/background-pattern.png') no-repeat center
            center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 2000px;
        max-height: 1000px;
        position: relative;
    }

    .login-box {
        background-color: #2d2d52;
        border-radius: 15px;
        width: 100%;
        height: 300px;
        max-width: 760px;
        box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        z-index: 1;
        gap: 15px;
    }

    .left-box {
        flex: 1 1 100%;
        text-align: left;
        margin-bottom: 20px;
        padding-left: 10%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .right-box {
        flex: 1 1 100%;
        text-align: left;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo img {
        height: 100px;
        margin-left: -20px;
    }

    .logo {
        padding: 0;
    }

    .login-title {
        margin: 1px 0;
        margin-bottom: -5px;
        font-size: 3.5em;
        color: #fff;
    }

    .login-subtext {
        font-size: 1.2em;
        color: #bbb;
        margin-top: 10px;
    }

    .login-link {
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

    .login-link:hover {
        color: #fff;
        text-decoration: underline;
        transition: 0.2s;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 260px;
    }

    .login-input {
        background-color: #2d2d52;
        border: 1px solid #fff;
        padding: 12px;
        margin-left: -12px;
        border-radius: 10px;
        color: #fff;
        outline: none;
        font-size: 0.8em;
        width: 100%;
        height: 20px;
    }

    .login-input::placeholder {
        color: #d9d9d9;
    }

    .login-actions {
        display: flex;
        flex-direction: row;

        gap: 15px;
        margin-top: 30px;
        width: 260px;
    }

    .google-login,
    .submit-login {
        padding: 0px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        max-width: 260px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .google-login {
        background-color: #2d2d52;
        border: 2px solid #22223f;
        color: #fff;
        margin-left: -12px;
        font-size: 0.8em;
    }

    .submit-login {
        background-color: #22223f;
        margin-right: -12px;
        font-size: 1em;
    }

    .submit-link {
        width: 100%;
        color: #fff;
    }

    .submit-link:hover {
        color: #fff;
    }

    .submit-login.disabled {
        color: #fff;
        background-color: #22223f;
        cursor: not-allowed;
    }

    .submit-login.disabled:hover {
        color: #fff;
        background-color: #22223f;
    }

    .google-login img {
        width: 18px;
        margin-left: 8px;
    }

    .submit-login:hover,
    .google-login:hover {
        background-color: #5a5c9f;
        transition: 0.3s;
    }
}

@media (max-width: 822px) {
    .login-box {
        flex-direction: column;
        padding: 20px;

        background-color: #2d2d52;
        border-radius: 15px;
        width: 50vw;
        box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
    }

    .left-box,
    .right-box {
        /* flex: 1; */
        width: 100%;
        text-align: center;
    }

    .left-box {
        margin-right: 0;
    }

    .logo img {
        height: 80px;
    }

    .logo {
        padding: 0;
        height: 4em;
    }

    .login-title {
        font-size: 2.2em;
        margin-bottom: -5px;
    }

    .login-subtext {
        font-size: 1em;
        color: #bbb;
        margin-top: 10px;
    }

    .login-link {
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }

    .login-link:hover {
        text-decoration: underline;
        transition: 0.2s;
    }

    .right-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .input-container {
        width: 100%;
    }

    .login-input {
        background-color: #2d2d52;
        border: 1px solid #fff;
        padding: 12px;
        border-radius: 10px;
        color: #fff;
        outline: none;
        font-size: 0.8em;
        width: 75%;
        height: 20px;
        margin-top: 10px;
    }

    .login-input::placeholder {
        color: #d9d9d9;
    }

    .login-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
    }

    .google-login,
    .submit-login {
        padding: 0px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        width: 136px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .google-login {
        background-color: #2d2d52;
        border: 2px solid #22223f;
        color: #fff;
        margin-left: -12px;
        font-size: 0.8em;
    }

    .submit-login {
        background-color: #22223f;
        color: #fff;
        margin-right: -12px;
        font-size: 1em;
    }

    .google-login img {
        width: 18px;
        margin-left: 8px;
    }

    .submit-login:hover,
    .google-login:hover {
        background-color: #5a5c9f;
        transition: 0.3s;
    }
}
